@charset "UTF-8";

@media screen and (min-width: 100px) and (max-width: 768px) {
    h2 {
        font-size: clamp(24px, 2.5vw, 8rem);
    }

    p,
    ul,
    ol,
    li, ul li a, legend {
        font-size: clamp(0.9rem, 1vw, 5rem);
    }

    .hero-section, .container-plans, .movies-section {
        padding: 1rem;
    }

    .divider {
        width: 70vw;
    }

    .hero-section h2 {
        font-size: 2.3rem;
    }

    .hero-gallery img {
        width: 7rem;
        max-width: 7rem;
    }

    .hero-gallery img:nth-child(3) {
        width: 3rem;
        max-width: 3rem;
    }

    .container-pricing-plans {
        flex-direction: column;
        gap: 3rem;
    }


    .container-pricing-plans:has(.card-price:nth-child(1):hover) .card-price:nth-child(2) {
        transform: none;
    }

    .container-pricing-plans:has(.card-price:nth-child(2):hover) .card-price:nth-child(1) {
        transform: none;
    }

    .container-movies-list {
        display: grid;
        grid-template-columns: repeat(6, 100%);
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        overflow: auto hidden;
    }

}

@media screen and (min-width: 769px) and (max-width: 900px) {

    .hero-section, .container-plans, .movies-section {
        padding: 2rem;
    }

    .hero-gallery img {
        width: 7rem;
        max-width: 7rem;
    }

    .hero-gallery img:nth-child(3) {
        width: 3rem;
        max-width: 3rem;
    }

    .container-pricing-plans {
        flex-direction: column;
        gap: 3rem;
    }

    .container-movies-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

}


@media screen and (min-width: 100px) and (max-width: 901px) and (orientation: landscape) {

    .hero-section, .container-plans, .movies-section {
        padding: 3rem;
    }

    .container-pricing-plans {
        display: flex;
        flex-direction: row;
    }

    .container-movies-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (min-width: 901px) {

    .hero-section, .container-plans, .movies-section {
        padding: 1rem 10vw;
    }

    .container-pricing-plans {
        gap: 7vw;
    }

    .hero-text, .subscription-info {
        width: 55vw
    }

    .container-movies-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}