@charset "UTF-8";

@media screen and (min-width: 100px) and (max-width: 768px) {
    .login-section {
        padding: 1rem;
    }

    form {
        width: 100%;
        height: auto;
        padding: 2rem;
        justify-content: flex-start;
    }

    .box-btn-login {
        flex-direction: column;
        text-align: start;
    }

}

@media screen and (min-width: 769px) and (max-width: 900px) {

    .login-section {
        padding: 2rem;
    }

    form {
        width: 100%;
        height: auto;
        padding: 2rem;
        justify-content: flex-start;
    }

}


@media screen and (min-width: 100px) and (max-width: 901px) and (orientation: landscape) {

    .login-section {
        padding: 3rem;
    }

}

@media screen and (min-width: 901px) {
    .login-section {
        padding: 1rem 10vw;
    }

    footer {
        margin-top: 2vh;
    }

    form {
        width: 60dvw;
        height: auto;
        padding: 2rem 4rem;
    }

}