@charset "UTF-8";


@media screen and (min-width: 769px) and (max-width: 900px) {
    .container-movies-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (min-width: 901px) {
    .container-movies-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (min-width: 100px) and (max-width: 768px) {
    .hero-section, .container-plans, .movies-section, header {
        padding: 1rem;
    }

    footer {
        padding: 3rem 1rem;
    }

    header {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    header .logo {
        width: 10rem;
    }


    .divider {
        width: 70vw;
    }

    .hero-section h2 {
        font-size: 2.3rem;
    }

    .hero-gallery img {
        width: 7rem;
        max-width: 7rem;
    }

    .hero-gallery img:nth-child(3) {
        width: 3rem;
        max-width: 3rem;
    }

    .container-pricing-plans {
        flex-direction: column;
        gap: 3rem;
    }

    .footer-links {
        flex-direction: column;
    }

}

@media screen and (min-width: 769px) and (max-width: 900px) {

    footer, .hero-section, .container-plans, .movies-section, header {
        padding: 2rem;
    }


    header .logo {
        width: 12rem;
    }

    .hero-gallery img {
        width: 7rem;
        max-width: 7rem;
    }

    .hero-gallery img:nth-child(3) {
        width: 3rem;
        max-width: 3rem;
    }

    .container-pricing-plans {
        flex-direction: column;
        gap: 3rem;
    }

}


@media screen and (min-width: 100px) and (max-width: 901px) and (orientation: landscape) {

    header {
        padding: 1rem 3rem;
    }

    footer, .hero-section, .container-plans, .movies-section {
        padding: 3rem;
    }

    header, .container-pricing-plans, .footer-links {
        display: flex;
        flex-direction: row;
    }

    .container-movies-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (min-width: 901px) {
    footer, .hero-section, .container-plans, .movies-section, header {
        padding: 1rem 10vw;
    }

    .container-pricing-plans {
        gap: 7vw;
    }
}