@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    list-style: none;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    cursor: default;
}

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg,
            #9b34ef 0%,
            #490cb0 20%,
            transparent 50%);
    /*=== BTN ====*/
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    /*=== CARD ====*/
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg,
            #5516ba,
            rgba(255, 0, 229, 0.5) 80%);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    /*=== FORM ====*/
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);
    /*=======*/
    --bg-white: #FFFFFF;
    --color-black: #000000;
    --bg-gray: #23272A;
    --bg-gray-light: #F6F6F6;
    --bs-success: #00c247;
    --bs-info: #0b4ac7;
    --bs-warning: #f0d25b;
    --bs-danger: #CC0000;
    --bs-disabled: #d8d8d8;
    --bs-disabled-dark: #879ac1;
}

/*==========DEFAULT==============*/
html {
    font-size: 16px;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    transition: 2s;
}

:focus-visible {
    outline: 2px solid #f3f2f2;
}

::first-letter {
    text-transform: uppercase;
}

*::selection {
    background-color: var(--text-color);
    color: var(--tertiary-color);
}

*::-moz-selection {
    background-color: var(--text-color);
    color: var(--tertiary-color);
}

*::-webkit-selection {
    background-color: var(--text-color);
    color: var(--tertiary-color);
}

/*===SCROLL====*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

header, main, footer {
    overflow-x: hidden;
}

body {
    height: auto;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: .5s ease;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    transition: .5s ease;
}


section {
    gap: 1rem;
    padding-top: 2rem;
}

/*================ SPAN ================*/

.letter-up {
    text-transform: uppercase;
}

.word-cap {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.word-low {
    text-transform: lowercase;
}

/*================ LINK ================*/
a {
    display: inline-block;
    min-width: auto;
    transition: 2s all ease;
    cursor: pointer;
    min-width: auto;
}


h1, h2, h3, h4, h5, h6, p, span {
    text-wrap: balance;
    padding: 0.8rem 0px 0px 0px;
}

h1, h2 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

h1, h2 {
    font-weight: 500;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: max(30px, 7vh);
}

.title {
    text-transform: uppercase;
}

p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: max(22px, 3vh);
}


h1 {
    font-size: clamp(24px, 2vw, 8rem);
}

h2 {
    font-size: clamp(16px, 2.5vw, 8rem);
}

h3 {
    font-size: clamp(18px, 2.5vw, 5rem);
}

p,
ul,
ol,
li, ul li a, legend {
    font-size: clamp(0.9rem, 0.7vw, 5rem);
}

button {
    font-size: clamp(0.7rem, 0.7vw, 5rem);
}


small,
caption, input,
textarea,
select,
label, option {
    font-size: clamp(1rem, 1.3vw, 5rem);
}


:is(h2,
    h3, h4, p, a, li, ul li, button) {
    text-wrap: balance;
}

.element-navigation {
    cursor: pointer;
}

/*======================= button ======================*/

.btn-flat, .btn-font, .btn-gradient {
    border-radius: 4rem;
    border: none;
    color: var(--bg-white);
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transition: 0.5s ease;
    font-weight: 600;
}

.btn-flat, .btn-font {
    padding: 0.5rem 2rem;
}

.btn-gradient {
    padding: 0.9rem 2rem;
}

.btn-font {
    background: transparent;
}

.btn-flat {
    background: var(--tertiary-color);
}

.btn-flat:hover {
    background: var(--btn-link-bg-color);
    color: var(--btn-link-color);
}

.btn-gradient {
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;
}

.btn-gradient:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

/*======================= HEADER ======================*/

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-bg-color);
    position: fixed;
    z-index: 1;
}

header .logo {
    width: 12vw;
    cursor: pointer;
}

header .menu {
    display: flex;
    flex-wrap: nowrap;
}

/*======================= HERO ======================*/
#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    gap: 1rem;
    text-align: center;
    position: relative;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: bg-gradient 10s ease infinite alternate;
    padding-top: 8rem !important;

}


.hero-section h1 {
    text-transform: uppercase;
    font-size: clamp(16px, 2.5vw, 8rem);

}

.hero-section h2 {
    text-transform: uppercase;
    font-size: clamp(16px, 3.5vw, 8rem);
    font-weight: 800;
    padding-top: 0px;
}

.info-first-p {
    padding-top: 0px;
    font-size: clamp(16px, 1.5vw, 8rem);
}

@keyframes bg-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.divider {
    width: 100%;
    height: 0.4rem;
    border: none;
    background: var(--divider-bg-color);
    margin: 5vh 0px;
}

.subscription-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.price-info {
    display: flex;
}

.hero-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-gallery img {
    width: 7vw;
    max-width: 7vw;
}

.hero-gallery img:nth-child(3) {
    width: 3vw;
    max-width: 3vw;
}

#hero-section button {
    animation: wiggle 2.2s linear infinite;
}

@keyframes wiggle {

    0%,
    10% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    35% {
        transform: rotate(-10deg);
    }

    40%,
    100% {
        transform: rotate(0);
    }
}

/*======================= PRICE ======================*/
#pricing-section {
    background: url("../images/background-movies-series.webp") no-repeat;
    background-size: cover;
    background-position: right;
    gap: 1rem;
    scroll-padding-top: 15vh;
    text-align: center;
    padding-top: 20dvh;
    padding-bottom: 20dvh;
}

.container-plans {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    gap: 6vh;
}

.container-pricing-plans {
    display: flex;
    min-height: 90vh;
    perspective: 2000px;
    perspective-origin: top;
}

.card-plan-mobile, .card-plan-multitelas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
    gap: 1rem;
    padding: 3vh 5vw;
    background: var(--card-bg-color);
    border-radius: 2vh;
    transition: transform 1s ease-in-out;
}

.container-pricing-plans:has(.card-price:nth-child(1):hover) .card-price:nth-child(2) {
    transform: rotateY(-45deg);
}

.container-pricing-plans:has(.card-price:nth-child(2):hover) .card-price:nth-child(1) {
    transform: rotateY(45deg);
}

.plan-header {
    display: flex;
    justify-content: space-between;
}

.price-info p {
    text-align: inherit;
    line-height: inherit;
}

.price-info strong, .plan-header strong {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
}

.benefits-list {
    text-align: start;
    font-size: 1.25rem;
}


.benefits-list li {
    padding: 0 0 0 1rem;
}

.benefits-list li::marker {
    content: "+";
    font-size: 2rem;
}

/*======================= MOVIES ======================*/
.movies-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    height: auto;
}

.container-movies-list {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 3rem;
    padding: 5vh 0px;
}



.movie-card {
    transition: 0.5s ease;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-card .before {
    display: none;
}

.movie-card:hover {
    .start {
        display: none;
    }

    .before {
        display: block;
    }
}

.movie-card img {
    width: 100%;
    height: 100%;
}

/*======================= LOGIN ======================*/
/*=== FORM ====*/
#login-section {
    background: url("../images/background-movies-series.webp") no-repeat;
    background-size: cover;
    background-position: right;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90dvh;
    padding-top: 6rem;

}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--form-bg-color);
    gap: 1.5rem;
    padding: 4dvh;
    text-align: start;
    margin: 0 auto;
    border-radius: 0.6rem;
}

form h1 {
    text-align: center;
    text-transform: uppercase;
}

input {
    background-color: var(--form-field-bg-color);
    border: var(--form-field-border);
    padding: 2.5dvh;
    color: var(--form-field-placeholder);
    border-radius: 0.4rem;

}


input::placeholder {
    color: var(--form-field-placeholder);
}

input:invalid {
    border: 1px solid var(--form-field-error);
}

input:valid :not(:placeholder-shown) {
    border: 1px solid var(--bs-success);
}

.box-btn-login {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
}

.box-btn-login a {
    color: var(--link-color);
    font-weight: 700;
}

/*======================= FOOTER ======================*/
footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    gap: 1rem;
    margin-top: 20vh;
    color: var(--link-color);

}

footer p {
    font-size: clamp(0.7rem, 0.5vw, 5rem);
}

.footer-links, .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer-links {
    text-wrap: balance;
    gap: 1.5rem;
}

.footer-links li {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.5s;
}

.footer-links li {
    text-transform: uppercase;
    cursor: pointer;
}

.footer-links li:hover {
    color: var(--text-color);
}

.social-media {
    gap: 2rem;
}

.social-media img {
    cursor: pointer;
}